#tab_plugin_continuousprint .cp-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#tab_plugin_continuousprint .job-header {
  background-color: #eee;
}
.themeify.discorded #tab_plugin_continuousprint .job-header,
.themeify.cyborg #tab_plugin_continuousprint .job-header,
.themeify.discoranged #tab_plugin_continuousprint .job-header,
.themeify.nighttime #tab_plugin_continuousprint .job-header {
  background-color: #222 !important;
}

#tab_plugin_continuousprint .accordion-heading, {
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}
#tab_plugin_continuousprint .queue-row-container {
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
#tab_plugin_continuousprint .job .accordion-group {
  border-right: 0px;
}
#tab_plugin_continuousprint .job > div.accordion-body > div.accordion-inner {
  padding-right: 0px;
  border-right: 0px;
}
#tab_plugin_continuousprint .queue-row-container > * {
  margin-left: 10px;
  margin-bottom: 0;
  line-height: 1.6;
}
#tab_plugin_continuousprint .queue-row-container .total {
  width: 40px;
  text-align: center;
}
#tab_plugin_continuousprint .loading {
  opacity: 0.3;
  cursor: default !important;
}
#tab_plugin_continuousprint .progress {
  width: 150px;
  display: flex; /* allow for stacking progresses in jobs */
}
#tab_plugin_continuousprint .accordion-heading-button {
  padding: 8px 15px; /* copied from .octoprint-container .accordion-heading .accordion-heading-button > a */
}
#tab_plugin_continuousprint .accordion-heading-button input {
  margin-top: -2px;
}
#tab_plugin_continuousprint .accordion-body.collapse {
  /* Transitions copied from div#files.accordion-body.collapse */
  max-height: 0;
  overflow-y: auto;
  -webkit-transition: max-height .35s ease;
  -moz-transition: max-height .35s ease;
  -o-transition: max-height .35s ease;
  transition: max-height .35s ease;
}
#tab_plugin_continuousprint .accordion-body.collapse.in {
  max-height: 500px;
}

#tab_plugin_continuousprint .queue-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 0px 44px 0px 32px;
}
#tab_plugin_continuousprint .repeats {
  width: 85px;
  text-align: right;
}
#tab_plugin_continuousprint .queue-header > div {
  text-align: center;
}
#tab_plugin_continuousprint #queue_sets.empty {
  border: 1px #e5e5e5 solid; /* copy from .accordion-group */
  padding: 15px;
  border-radius: 10px;
}
#tab_plugin_continuousprint .accordion-body.collapse {
  /* Transitions copied from div#files.accordion-body.collapse */
  max-height: 0;
  overflow-y: auto;
  -webkit-transition: max-height .35s ease;
  -moz-transition: max-height .35s ease;
  -o-transition: max-height .35s ease;
  transition: max-height .35s ease;
}
#tab_plugin_continuousprint .accordion-body.collapse.in {
  max-height: 500px;
}

#tab_plugin_continuousprint .queue-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 58px 0 28px;
  opacity: 0.5;
}
#tab_plugin_continuousprint .queue-header > div {
  margin-left: 10px;
}
#tab_plugin_continuousprint #queue_sets.empty {
  padding: 15px;
  border: none;
  box-shadow: none;
}
#tab_plugin_continuousprint .label {
  border: 1px gray solid;
}
#tab_plugin_continuousprint div.material_select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1vh;
}

#tab_plugin_continuousprint ::placeholder {
  font-weight: italic;
  opacity: 0.7;
}
#tab_plugin_continuousprint .hint {
  font-weight: italic;
  font-size: 85%;
  opacity: 0.7;
}
#tab_plugin_continuousprint #queue_sets.empty::before {
  content: "Hint: Click the + button on a file, or drag a queue item here";
  font-weight: italic;
  font-size: 85%;
  opacity: 0.7;
}
#tab_plugin_continuousprint .queue-set-list {
  max-height: 200px;
  overflow-y: auto;
}
#tab_plugin_continuousprint .queue-set-list table {
  table-layout:auto;
  width: 100%;
  border-collapse: collapse;
}
#tab_plugin_continuousprint .queue-set-list th {
  position: sticky;
  background: #eee;
  top: 0;
  text-align: left;
  padding: 0 3px;
  /* position:sticky doesn't work with regular borders, so we use box shadow */
  box-shadow: inset 0 -1px 0 black;
  font-weight: normal;
}
.themeify.discorded #tab_plugin_continuousprint .queue-set-list th,
.themeify.cyborg #tab_plugin_continuousprint .queue-set-list th,
.themeify.discoranged #tab_plugin_continuousprint .queue-set-list th,
.themeify.nighttime #tab_plugin_continuousprint .queue-set-list th {
  background-color: #222 !important;
}

#tab_plugin_continuousprint .queue-set-list th::after {
  content: ' ';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  border-bottom: 1px gray solid;
}
#tab_plugin_continuousprint i.fa-grip-lines-vertical {
  cursor: grab;
}
#tab_plugin_continuousprint .queue-set-list td {
  padding: 0 3px;
}
#tab_plugin_continuousprint .queue-set-list tr :first-child {
  border-right: 1px gray solid;
}
#tab_plugin_continuousprint .queue-set-list tr.run-alt {
  background-color: #e5e5e5;
}
.themeify.discorded #tab_plugin_continuousprint tr.run-alt,
.themeify.cyborg #tab_plugin_continuousprint tr.run-alt,
.themeify.discoranged #tab_plugin_continuousprint tr.run-alt,
.themeify.nighttime #tab_plugin_continuousprint tr.run-alt {
  background-color: #282828 !important;
}

#tab_plugin_continuousprint .count-box{
  text-align: left;
  min-width:30px;
  max-width: 30px;
  max-height:15px;
  margin-bottom: 3px;
  -moz-appearance: textfield;
}
#tab_plugin_continuousprint .count-box::-webkit-outer-spin-button,
#tab_plugin_continuousprint .count-box::-webkit-inner-spin-button {
  /* chrome, safari, edge, opera: hide up/down buttons on count box input */
  -webkit-appearance: none;
  margin: 0;
}


.themeify.discorded #tab_plugin_continuousprint input,
.themeify.cyborg #tab_plugin_continuousprint input,
.themeify.discoranged #tab_plugin_continuousprint input,
.themeify.nighttime #tab_plugin_continuousprint input {
  background-color: #656b76 !important;
  color: white !important;
}

#tab_plugin_continuousprint .file-name, #tab_plugin_continuousprint .job-name {
    flex: 1;
    flex-shrink: 10;
    overflow-x: hidden;
    white-space: nowrap;
    max-width: 96%;
    text-overflow: ellipsis;
    border: 0;
    cursor: pointer;
}
.bold{
  font-weight: bold;
}

/* https://kamranahmed.info/blog/2016/01/30/yellow-fade-technique-in-css/ */
@keyframes yellowfade {
    from { background: yellow; }
    to { background: transparent; }
}
.updated-item {
    animation-name: yellowfade;
    animation-duration: 1.5s;
}


/* ==== This section is for compatibility with the Themeify plugin - overrides progress bars so that success/failure colors can still be seen ==== */
#tab_plugin_continuousprint .progress .bar.bar-success {
  background-color: #62c462;
}
#tab_plugin_continuousprint .progress .bar.bar-danger {
  background-color: #ee5f5b;
}
#tab_plugin_continuousprint .progress-striped .bar {
    background-color: #149bdf;
    background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
}
#tab_plugin_continuousprint .progress.active .bar {
    animation: none;
    background-image: none;
}
#tab_plugin_continuousprint .progress.active .bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
    background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
}
/* ======== */
