#tab_plugin_continuousprint .header,
#tab_plugin_continuousprint .entries > div {
  display: flex;
  justify-content: space-between;
  padding: 0px 44px 0px 32px;
  flex-direction: row;
}
#tab_plugin_continuousprint .header {
  font-weight: bold;
  opacity: 0.5;
  border-bottom: 1px gray solid;
}
#tab_plugin_continuousprint .header > *,
#tab_plugin_continuousprint .entries > .entry > * {
  flex: 1;
  text-align: center;
}
#tab_plugin_continuousprint .timelapse_thumbnail {
  position: relative;
  display: inline-block;
}
#tab_plugin_continuousprint .timelapse_thumbnail > img {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 0;
  max-width: 100px;
  left: 18px;
  border: 1px black solid;
  padding: 5px;
  background-color: white;
}
#tab_plugin_continuousprint .timelapse_thumbnail > i {
  padding: 2px;
  /* So hover is maintained when mousing over to image */
}
#tab_plugin_continuousprint .timelapse_thumbnail:hover > img {
  display: block;
}
#tab_plugin_continuousprint .separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tab_plugin_continuousprint .separator .line {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
  margin-left: 5px;
  margin-right: 5px;
}
