:root {
    /* Small padding roughly matches the spacing between Print/Pause/Cancel buttons in the State panel */
    --cpq-pad: 6px;
    --cpq-pad2: 20px;
}

#files .cpq-gjob div[title="Load"] {
  display: none !important;
}
#files .cpq-gjob div[title="Load and Print"] {
  display: none !important;
}
#files .cpq-gjob.fa-archive {
  margin-right: 4px;
}

#state span.ERROR {
	background-color: rgba(255, 0, 0, 0.6);
	border-radius: var(--cpq-pad);
	padding: var(--cpq-pad);
}
#state span.NEEDS_ACTION {
	animation: pulse 2.5s infinite;
	border-radius: var(--cpq-pad);
	padding: var(--cpq-pad);
}

@keyframes pulse {
	0% {
  	background-color: rgba(255, 150, 0, 0.3);
	}

	50% {
  	background-color: rgba(255, 150, 0, 0.8);
	}

	100% {
  	background-color: rgba(255, 150, 0, 0.3);
	}
}

#tab_plugin_continuousprint .cpq-leftpad {
  margin-left: var(--cpq-pad);
}
#continuousprint_tab_queues > div {
  margin-bottom: 50px;
}
#tab_plugin_continuousprint .highlight {
  border: 3px #77a4ff solid !important;
  min-height: 100px;
}
.themeify.discorded #tab_plugin_continuousprint .highlight,
.themeify.cyborg #tab_plugin_continuousprint .highlight,
.themeify.discoranged #tab_plugin_continuousprint .highlight,
.themeify.nighttime #tab_plugin_continuousprint .highlight {
  border: 3px #656b76 solid !important;
}

#tab_plugin_continuousprint .multiselect {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-bottom: -31px;
  margin-left: 4px;
}
#tab_plugin_continuousprint .multiselect .btn-group {
  /* Lay on top of table headers */
  z-index: 1;
}
#tab_plugin_continuousprint .cp-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}
#tab_plugin_continuousprint .job-header {
  background-color: #eee;
}
#tab_plugin_continuousprint .profile-select {
  /* Match the style of Bootstrap labels */
  height: 20px;
  width: 60px;
  margin-bottom: 0px;
}
#tab_plugin_continuousprint .job.acquired .job-name {
  font-weight: bold;
}
#tab_plugin_continuousprint .fa-grip-vertical {
  opacity: 0.0;
  margin-left: 1px !important;
}
#tab_plugin_continuousprint *:hover > .fa-grip-vertical {
  opacity: 0.5;
  cursor: grab;
}
.themeify.discorded #tab_plugin_continuousprint .job-header,
.themeify.cyborg #tab_plugin_continuousprint .job-header,
.themeify.discoranged #tab_plugin_continuousprint .job-header,
.themeify.nighttime #tab_plugin_continuousprint .job-header {
  background-color: #222 !important;
}
#tab_plugin_continuousprint .queue-list {
  border-radius: var(--cpq-pad);
  min-height: 70px;
  border-top: 1px #e5e5e5 solid;
  border-bottom: 1px #e5e5e5 solid;
  padding: var(--cpq-pad) 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tab_plugin_continuousprint .accordion-heading, {
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}
#tab_plugin_continuousprint .queue-row-container, #settings_continuousprint_queues .queue-row-container {
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
#tab_plugin_continuousprint .job {
  position: relative;
}
#tab_plugin_continuousprint .job.shiftsel {
  border-left: 3px solid #CCC !important;
}
#tab_plugin_continuousprint .job.draft .job-gutter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: var(--cpq-pad);
  padding-top: var(--cpq-pad);
}
#tab_plugin_continuousprint .job .floatedit {
  position: absolute;
  top: var(--cpq-pad2);
  right: var(--cpq-pad2);
  opacity: 0.0;
  z-index: 1000;
}
#tab_plugin_continuousprint .job:hover .floatedit {
  opacity: 0.5;
}
#tab_plugin_continuousprint .job:hover .floatedit:hover {
  opacity: 1.0;
}
#tab_plugin_continuousprint .job .accordion-group {
  border-right: 0px;
}
#tab_plugin_continuousprint .job > div.accordion-body > div.accordion-inner {
  padding-right: 0px;
  border-right: 0px;
}
#tab_plugin_continuousprint .queue-row-container > *, #settings_continuousprint_queues .queue-row-container > * {
  margin-left: var(--cpq-pad);
  margin-bottom: 0;
  line-height: 1.6;
}
#tab_plugin_continuousprint .queue-row-container .total {
  width: 40px;
  text-align: center;
}
#tab_plugin_continuousprint .loading {
  opacity: 0.3;
  cursor: default !important;
}
#tab_plugin_continuousprint .progress {
  width: 150px;
  display: flex; /* allow for stacking progresses in jobs */
}
#tab_plugin_continuousprint .accordion-heading-button {
  padding: var(--cpq-pad) var(--cpq-pad);
}
#tab_plugin_continuousprint .accordion-heading-button input {
  margin-top: -2px;
}
#tab_plugin_continuousprint .accordion-body.collapse {
  /* Transitions copied from div#files.accordion-body.collapse */
  max-height: 0;
  overflow-y: auto;
  -webkit-transition: max-height .35s ease;
  -moz-transition: max-height .35s ease;
  -o-transition: max-height .35s ease;
  transition: max-height .35s ease;
}
#tab_plugin_continuousprint .accordion-body.collapse.in {
  max-height: 500px;
}
#tab_plugin_continuousprint .queue-header, #settings_continuousprint_queues .queue-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: var(--cpq-pad) 8px 0 28px;
  opacity: 0.5;
  margin-left: 55px;
}
#tab_plugin_continuousprint .repeats {
  width: 85px;
  text-align: center;
}
#tab_plugin_continuousprint .queue-header > div, #settings_continuousprint_queues .queue-header > div {
  text-align: center;
  margin-left: var(--cpq-pad);
}
#tab_plugin_continuousprint #queue_sets.empty {
  border: 1px #e5e5e5 solid; /* copy from .accordion-group */
  padding: var(--cpq-pad);
  border-radius: var(--cpq-pad);
}
#tab_plugin_continuousprint .accordion-body.collapse {
  /* Transitions copied from div#files.accordion-body.collapse */
  max-height: 0;
  overflow-y: auto;
  -webkit-transition: max-height .35s ease;
  -moz-transition: max-height .35s ease;
  -o-transition: max-height .35s ease;
  transition: max-height .35s ease;
}
#tab_plugin_continuousprint .accordion-body.collapse.in {
  max-height: 500px;
}
#tab_plugin_continuousprint .label {
  border: 1px gray solid;
}
#tab_plugin_continuousprint ::placeholder {
  font-weight: italic;
  opacity: 0.7;
}
#tab_plugin_continuousprint .hint {
  font-weight: italic;
  font-size: 85%;
  opacity: 0.7;
}
#tab_plugin_continuousprint #queue_sets.empty.draft::before {
  content: "Hint: Click the + button on a file, or drag in a set from another job in edit mode.";
  font-weight: italic;
  font-size: 85%;
  opacity: 0.7;
}
#tab_plugin_continuousprint .queue-set-list {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#tab_plugin_continuousprint .queue-set-list h4 {
  border-bottom: 1px #e5e5e5 solid;
}
#tab_plugin_continuousprint .queue-set-list .full {
  width: 100%;
}
#tab_plugin_continuousprint .queue-set-list .gutter {
  border-top: 1px #e5e5e5 solid;
  padding-top: var(--cpq-pad);
  display: flex;
  justify-content: space-between;
}

#tab_plugin_continuousprint .count-box{
  text-align: left;
  min-width:30px;
  max-width: 30px;
  max-height:15px;
  margin-bottom: 3px;
  -moz-appearance: textfield;
}
#tab_plugin_continuousprint .count-box::-webkit-outer-spin-button,
#tab_plugin_continuousprint .count-box::-webkit-inner-spin-button {
  /* chrome, safari, edge, opera: hide up/down buttons on count box input */
  -webkit-appearance: none;
  margin: 0;
}


.themeify.discorded #tab_plugin_continuousprint input,
.themeify.cyborg #tab_plugin_continuousprint input,
.themeify.discoranged #tab_plugin_continuousprint input,
.themeify.nighttime #tab_plugin_continuousprint input {
  background-color: #656b76 !important;
  color: white !important;
}

#tab_plugin_continuousprint .file-name, #tab_plugin_continuousprint .job-name {
    flex: 1;
    flex-shrink: 10;
    overflow-x: hidden;
    white-space: nowrap;
    max-width: 96%;
    text-overflow: ellipsis;
    border: 0;
}
.bold{
  font-weight: bold;
}

/* https://kamranahmed.info/blog/2016/01/30/yellow-fade-technique-in-css/ */
@keyframes yellowfade {
    from { background: yellow; }
    to { background: transparent; }
}
.updated-item {
    animation-name: yellowfade;
    animation-duration: 1.5s;
}


/* ==== This section is for compatibility with the Themeify plugin - overrides progress bars so that success/failure colors can still be seen ==== */
#tab_plugin_continuousprint .progress .bar.bar-success {
  background-color: #62c462;
}
#tab_plugin_continuousprint .progress .bar.bar-danger {
  background-color: #ee5f5b;
}
#tab_plugin_continuousprint .progress-striped .bar {
    background-color: #149bdf;
    background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
}
#tab_plugin_continuousprint .progress.active .bar {
    animation: none;
    background-image: none;
}
#tab_plugin_continuousprint .progress.active .bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
    background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
}

/* Below stylesheets are for the "history" page */

#tab_plugin_continuousprint .header, #tab_plugin_continuousprint .entries > div  {
  display: flex;
  justify-content: space-between;
  padding: 0px 44px 0px 32px;
  flex-direction: row;
}

#tab_plugin_continuousprint .header {
  font-weight: bold;
  opacity: 0.5;
  border-bottom: 1px gray solid;
}

#tab_plugin_continuousprint .header > *, #tab_plugin_continuousprint .entries > .entry > * {
  flex: 1;
  text-align: center;
}

#tab_plugin_continuousprint .separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tab_plugin_continuousprint .separator .line {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
  margin-left: 5px;
  margin-right: 5px;
}

/* ======== */
