<div class="cp-header">
  <h3>Continuous Print History</h3>
</div>

<hr/>

<div class="action_bar">
  <div class="btn-group">
    <button class="btn" data-bind="click: refresh"><i style="cursor: pointer" class="fas fa-sync"></i></button>
  </div>
  <div class="btn-group pull-right">
    <button class="btn" data-bind="click: clearHistory"><i style="cursor:pointer" class="far fa-trash-alt"></i></button>
  </div>
</div>
<div class="header">
  <div>Status</div>
  <div>Duration</div>
  <div>Date</div>
  <div>Time</div>
</div>
<div class="entries accordion-group" data-bind="foreach: entries">
  <!-- ko if: $data.divider -->
    <div class="separator" data-bind="text: title"></div>
  <!-- /ko -->
  <!-- ko ifnot: $data.divider -->
    <div class="entry" data-bind="css: {'success': result().startsWith('success')}">
    <div data-bind="text:result"></div>
    <div data-bind="text:duration"></div>
    <div data-bind="text:startedDate"></div>
    <div data-bind="text:startedTime"></div>
    </div>
  <!-- /ko -->
</div>
