<div id="cpq_removeConfirmDialog" class="modal hide fade">
    <div class="modal-header">
      <a href="https://smartin015.github.io/continuousprint/"><img src="plugin/continuousprint/static/img/CPQ.svg" alt="Continuous Print" style="height: 60px;" class="cpq_logo"></a>
      <h2 class="modal-title">File is in queue. Are you sure?</h2>
    </div>
    <div class="modal-body">
        <p>
          The file is currently present in the Continuous Print Queue.
        <p>
        <p>
          If you delete this file, its queue entries will be skipped.
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger btn-confirm" data-bind="click: removeConfirm">Confirm</button>
    </div>
</div>

<ul class="nav nav-tabs">
  <a href="https://smartin015.github.io/continuousprint/" target="blank"><img src="plugin/continuousprint/static/img/CPQ.svg" alt="Continuous Print" class="cpq_logo"></a>
  <li class="active"><a href="#continuousprint_tab_queues" data-toggle="tab">Queues</a></li>
  <li><a href="#continuousprint_tab_history" data-toggle="tab">History</a></li>

  <button class="btn btn-secondary pull-right cpq-leftpad" data-bind="visible: active(), click: function() {setActive(false);}" title="Stop the print queue">
    <i class="fa fa-stop"></i>&nbsp;&nbsp;Stop Managing
  </button>
  <button class="btn btn-primary pull-right cpq-leftpad" data-bind="hidden: active(), click: function() {setActive(true);}" title="Start the print queue">
    <i class="fa fa-play"></i>&nbsp;&nbsp;Start Managing
  </button>
  <button class="btn pull-right" data-bind="click: newEmptyJob" title="Add a new job"><i style="cursor:pointer" class="fas fa-plus"></i>&nbsp;New Job</button>
</ul>
<div class="tab-content">
  <div id="continuousprint_tab_history" class="tab-pane">
    <div class="header">
      <div>Status</div>
      <div>Duration</div>
      <div>Date</div>
      <div>Time</div>
    </div>
    <div class="entries" data-bind="foreach: history">
      <!-- ko if: $data.divider -->
        <div class="separator">
          <div data-bind="text: queue_name"></div>:
          <div data-bind="text: job_name"></div>
          <div class="line"></div>
          <div data-bind="text: set_path"></div>
        </div>
      <!-- /ko -->
      <!-- ko ifnot: $data.divider -->
      <div class="entry" data-bind="css: {'success': result().startsWith('success')}">
          <div style="text-align: left">
            <i data-bind="css: icon_class"></i>
            <span data-bind="text:result"></span>
            <div class="timelapse_thumbnail" data-bind="visible: thumbURL">
              <i class="fas fa-film"></i>
              <img data-bind="attr: {src: thumbURL}, click: showTimelapse"></img>
            </div>
          </div>
          <div data-bind="text:duration"></div>
          <div data-bind="text:startedDate"></div>
          <div data-bind="text:startedTime"></div>
        </div>
      <!-- /ko -->
      </div>
  </div>

  <div class="alert alert-error" data-bind="visible: CP_EXCEPTIONS.length > 0">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>
      <i class="fas fa-exclamation-triangle"></i> Encountered the following exceptions:
    </p>
    <ul data-bind="foreach: CP_EXCEPTIONS">
      <li data-bind="text: $data"></li>
    </ul>
    <p>
      Please <a target="_blank" href="https://github.com/smartin015/continuousprint/issues/new/choose">file a bug report</a> - be sure to follow the template instructions to generate a sysinfo bundle.
    </p>
  </div>

  <div class="alert alert-warning" data-bind="visible: badMaterialCount">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <i class="fas fa-exclamation-triangle"></i> <span data-bind="text: badMaterialCount"></span> spool(s) configured without a material.
    <br/>These will be excluded from material selection until you configure them (in the Spools tab) and reload.
  </div>

  <div class="hint" style="text-align: center" data-bind="visible: hasDraftJob">
    Hint: draft jobs will not be scheduled for printing until they are saved.
  </div>

  <div id="continuousprint_tab_queues" class="tab-pane active" data-bind="foreach: {data: queues, as: 'queue'}">

    <div class="cp-queue" data-bind="css: {'loading': $root.loading() || !ready()}">
    <div class="cp-header action-bar">
        <div class="multiselect">
          <div class="dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
              <i style="cursor: pointer" data-bind="click: onChecked, css: (checkFraction() >= 1) ? 'fas fa-check-square' : ((checkFraction() > 0) ? 'fas fa-minus-square' : 'far fa-square')"></i>
              <i style="cursor: pointer" class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" data-bind="click: batchSelect">All</a></li>
              <li><a tabindex="-1" data-bind="click: batchSelect">None</a></li>
              <li class="divider"></li>
              <li><a tabindex="-1" data-bind="click: batchSelect">Empty Jobs</a></li>
              <li><a tabindex="-1" data-bind="click: batchSelect">Unstarted Jobs</a></li>
              <li><a tabindex="-1" data-bind="click: batchSelect">Incomplete Jobs</a></li>
              <li><a tabindex="-1" data-bind="click: batchSelect">Completed Jobs</a></li>
            </ul>
          </div>
          <div class="btn-group cpq-leftpad">
            <button class="btn" data-bind="visible: checkFraction() > 0, click: deleteSelected" title="Delete selected">
              <i style="cursor: pointer" class="far fa-trash-alt"></i>
            </button>
            <button class="btn" data-bind="visible: checkFraction() > 0, click: resetSelected" title="Reset selected progress">
              <i style="cursor: pointer" class="fas fa-redo"></i>
            </button>
            <button class="btn" data-bind="visible: checkFraction() > 0 && name === 'local', click: exportSelected" title="Save .gjob to files list">
              <i style="cursor: pointer" class="far fa-save"></i>
            </button>
          </div>
        </div>
        <div style="flex: 1; text-align: right">
          <span data-bind="visible: $root.queues().length > 1, text: name"></span>
          <span data-bind="attr: {title: fullDetails}, visible: details() !== ''" style="cursor: pointer; display: inline-block">
            <span data-bind="text: details"></span>
            <i class="fas fa-info-circle"></i>
          </span>
        </div>
      </div>

      <div class="queue-header">
        <div style="flex: 1" class="has_title" title="Jobs are collections of Sets (print files) run one or more times">Job<sup>?</sup></div>
        <div style="flex: 1" class="has_title" title="The number of iterations/runs completed out of the total. For Sets (print files), this is progress on the current iteration of the Job.">Progress<sup>?</sup></div>
      </div>
      <!-- `cpsortable` is renamed from `sortable` - see https://github.com/smartin015/continuousprint/issues/14 -->
      <div class="accordion queue-list">
        <div class="hint" data-bind="visible: jobs().length == 0 && name === 'local'">
        Hint: click New Job above or the <i class="fas fa-plus"></i> next to a file to add it to the queue.
        </div>
        <div class="hint" data-bind="visible: jobs().length == 0 && name !== 'local'">
          Hint: drag a job here from the local queue to send it to printers on the network.
        </div>
        <div data-bind="cpsortable: {foreach: jobs, as: 'job', options: {handle: '.fa-grip-vertical', onStart: $root.sortStart, onEnd: $root.sortEnd, onMove: $root.sortMove}}, css: {'loading': $root.loading() || !ready(), 'local': name === 'local', 'highlight': $root.draggingJob() && ready()}" style="width: 100%">
        <div class="accordion-group job" data-bind="css: {acquired: acquiredBy() !== undefined, draft: draft, shiftsel: queue.shiftsel() === $index()}">
          <!-- ko if: !draft() -->
          <div class="btn floatedit btn-primary" data-bind="click: editStart" style="cursor: pointer">
              <i class="fas fa-edit"></i>
          </div>
          <!-- /ko -->
          <div class="accordion-heading job-header">
            <div class="queue-row-container">
            <i class="fas fa-grip-vertical"></i>
              <i style="cursor: pointer" data-bind="hidden: draft() || (acquiredBy() && $root.active()), css: selected() ? 'fas fa-check-square' : 'far fa-square', event: {mousedown: queue.onChecked}"></i>
              <i data-bind="visible: acquiredBy(), attr: {title: 'Printer: ' + acquiredBy()}" class="fas fa-cube"></i>
              <!-- ko if: draft -->
              <input class="job-name" type="text" data-bind="textInput: _name, attr: {'_vkenabled': false}, event: {keypress: onEnter}"></input>
              <span>x</span>
              <input title="How many additional times to run this job (from now onwards)" class="remaining fa fa-text count-box" type="number" min="0" data-bind="textInput: remaining, attr: {'_vkenabled': false}, event: {keypress: onEnter, blur: job.onBlur}"></input>
              <span title="How many additional times to run this job (from now onwards)" class="has_title">
                <sup>?</sup>
              </span>
              <span>&nbsp&#8594;&nbsp;</span>
              </span>
              <!-- /ko -->
              <!-- ko if: !draft() -->
              <div class="job-name" data-bind="text: _name"></div>
              <!-- /ko -->
              <div class="progress" title="The number of iterations/runs completed out of the total for the job" data-bind="css: { 'active': $root.status() === 'Printing', 'progress-striped': queue.active_jobs().indexOf(id()) !== -1}">
                <div class="progresstext" data-bind="text: $root.humanize(completed()) + '/' + $root.humanize(count())"></div>
                <div data-bind="visible: pct_complete() !== '0%', style: { width: pct_complete() }" class="bar bar-success"></div>
                <div data-bind="visible: queue.active_jobs().indexOf(id()) !== -1, style: { width: pct_active() }" class="bar active"></div>
              </div>
            </div>
          </div>
          <div class="accordion-body collapse in">
            <div class="accordion-inner">
              <!-- ko if: draft() -->
                <div class="edit-header">
                  <div style="flex: 1;" class="has_title" title="Sets are print files, repeated multiple times">Set<sup>?</sup></div>
                  <div class="completed has_title" title="Number of prints completed for this iteration of the job">Complete<sup>?</sup></div>
                  <div class="count has_title" title="Number of prints per each iteration of the job">Per Run<sup>?</sup></div>
                  <div class="remaining has_title" title="Number of prints yet to be printed for the current job iteration">This Run<sup>?</sup></div>
                  <div class="total has_title" title="Total number of prints yet to be printed across all remaining iterations of the job">Pending<sup>?</sup></div>
                </div>
              <!-- /ko -->
              <div id="queue_sets" data-bind="cpsortable: {foreach: sets, as: 'set', options: {handle: '.fa-grip-vertical', onStart: $root.sortStart, onEnd: $root.sortEnd, onMove: $root.sortMove, group: 'sets'}}, css: {'empty': sets().length < 1, 'draft': job.draft, 'highlight': $root.draggingSet() && job.draft() && queue.ready()}" class="sets">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <div class="queue-row-container">
                        <i class="fas fa-grip-vertical" data-bind="visible: job.draft"></i>
                        <p class="file-name" style="cursor:pointer" data-bind="click: $root.expand, style: { 'font-weight': queue.local_active_set() === id ? 'bold': null }">
                        <i class="fa" data-bind="css: expanded() ? 'fa-caret-down' : 'fa-caret-right'"></i>
                        <span class="materials" data-bind="visible: materials().length > 0, foreach: materials">
                        <span class="label" data-bind="attr: {title: title}, text: shortName, style: {'background-color': bgColor, 'color': color}"></span>
                          </span>
                          <span data-bind="text: shortName"/>
                        </p>
                        <div class="set_warning has_title" data-bind="hidden: profile_matches() || missing_file()" title="Set profile doesn't match this printer and will be skipped">
                          <i class="fas fa-angle-double-right"  style="margin-top: 3px; opacity: 0.5;"></i>
                        </div>
                        <div class="set_warning has_title" data-bind="hidden: !missing_file()" title="File is missing; this will be skipped">
                          <i class="fas fa-exclamation-triangle" style="color: #aa0000"></i>
                        </div>
                        <!-- ko if: !job.draft() || queue.active_sets().indexOf(id) !== -1 -->
                        <div class="progress" title="The number of iterations out of the total for this iteration/run of the job" data-bind="hidden: !profile_matches() || missing_file(), css: { 'active': $root.status() === 'Printing',  'progress-striped': queue.active_sets().indexOf(id) !== -1 }">
                          <div class="progresstext" data-bind="text: progress_text"></div>
                          <div data-bind="visible: pct_complete() !== '0%', style: { width: pct_complete() }" class="bar bar-success"></div>
                          <div data-bind="visible: queue.active_sets().indexOf(id) !== -1, style: { width: pct_active() }" class="bar active"></div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: job.draft() && queue.active_sets().indexOf(id) === -1 -->
                          <div class="completed" data-bind="text: $root.humanize(completed())"></div>
                          <!-- _vkenabled fixes dynamic form bug on virtual keyboard: https://github.com/xontab/chrome-virtual-keyboard/issues/5 -->

                          <input class="count fa fa-text count-box" type="number" min="0" data-bind="textInput: count, attr: {'_vkenabled': false}, event: {keypress: job.onEnter, focus: onCountFocus, blur: onCountBlur}"></input>
                          <input class="remaining fa fa-text count-box" type="number" min="0" data-bind="textInput: remaining, attr: {'_vkenabled': false}, event: {keypress: job.onEnter}"></input>
                          <div class="total" data-bind="text: $root.humanize(length_remaining())"></div>
                        <!-- /ko -->
                      </div>
                    </div>
                  <div class="accordion-body collapse" data-bind="css: {'in': set.expanded}">
                    <div class="accordion-inner">
                      <div class="queue-set-list">
                        <div class="full">
                          <div>Full path: <strong data-bind="text: path"></strong></div>
                          <div>
                            Profiles:
                            <span data-bind="visible: set.profiles().length === 0 && !job.draft()">any</span>
                            <span data-bind="foreach: set.profiles">
                              <span class="label label-info">
                                <i style="cursor: pointer", class="fas fa-times" data-bind="click: set.rmProfile, visible: job.draft"></i>
                                <span data-bind="text:$data"></span>
                              </span>
                            </span>
                            <select class="profile-select" data-bind="event: {change: set.addProfile}, visible: job.draft">
                                <option key=""></option>
                                <!-- ko foreach: $root.cpPrinterProfiles -->
                                <option data-bind="value: name, text: name"></option>
                                <!-- /ko -->
                            </select>
                           </div>
                            <div class="hint">Hint: Print start and ending scripts can be adjusted in the plugin settings</div>
                        </div>
                        <div data-bind="visible: job.draft() && $root.materials().length > 0">
                          <h4>Materials</h4>
                          <div data-bind="foreach: new Array($root.extruders() || 0)">
                            <div>
                              <span data-bind="text: '' + $index() + ':'"></span>
                              <select data-bind="value: (set.materials()[$index()] || {}).key, event: {change: (_, evt) => set.set_material($index(), evt.target.value)}">
                                <option key="">Any</option>
                                <!-- ko foreach: $root.materials -->
                                  <option data-bind="value: value, text: text"></option>
                                <!-- /ko -->
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="full gutter" data-bind="visible: job.draft()">
                          <div class="hint" data-bind="hidden: $root.hasSpoolManager()">
                          Hint: Install the <a href="https://plugins.octoprint.org/plugins/SpoolManager/" target="_blank">SpoolManager</a> plugin to enable <a href="https://smartin015.github.io/continuousprint/material-selection/" target="_blank">material selection</a>.
                          </div>
                          <div class="hint" data-bind="visible: $root.hasSpoolManager() && $root.materials().length == 0">
                          Hint: Add spools, then reload to enable <a href="https://smartin015.github.io/continuousprint/material-selection/" target="_blank">material selection</a>.
                          </div>
                          <button class="btn pull-right" data-bind="click: remove" title="delete set">
                            <i style="cursor: pointer" class="far fa-trash-alt"></i> Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <div class="job-stats" data-bind="hidden: !draft()">
                  <div style="flex: 1;">Total items printed</div>
                  <div class="completed" data-bind="text: $root.humanize(totals().completed)"></div>
                  <div class="count" data-bind="text: $root.humanize(totals().count)"></div>
                  <div class="remaining" data-bind="text: $root.humanize(totals().remaining)"></div>
                  <div class="total" data-bind="text: $root.humanize(totals().total)"></div>
                </div>
                <div class="job-stats" data-bind="hidden: !draft()">
                  <div style="flex: 1;" title="Uses Octoprint's file analysis estimates; these may not be totally accurate">Total time<sup>?</sup></div>

                  <div class="completed" data-bind="text: $root.humanTime(total_times().completed)"></div>
                  <div class="count" data-bind="text: $root.humanTime(total_times().count)"></div>
                  <div class="remaining" data-bind="text: $root.humanTime(total_times().remaining)"></div>
                  <div class="total" data-bind="text: $root.humanTime(total_times().total)"></div>
                  <div data-bind="visible: total_times().error > 0, text=`${total_times().error} sets missing time estimates"></div>
                </div>
                <div class="job-gutter">
                  <div class="btn" data-bind="visible: draft, click: editCancel">Cancel</div>
                  <div class="btn btn-primary cpq-leftpad" data-bind="visible: draft, click: editEnd">Save</div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- tab foreach queues -->
  <div class="hint" data-bind="hidden: $root.queues().length > 1">
  Hint: Set up additional queues (including <a href="https://smartin015.github.io/continuousprint/lan-queues" target="_blank">LAN queues</a>) in the plugin settings.
  </div>
</div> <!-- tab content -->
