<div class="cpq_title">
  <img src="plugin/continuousprint/static/img/CPQ.svg" alt="Continuous Print">
  <div>Continuous Print Queue</div>
</div>

{% include 'continuousprint_constants.jinja2' %}

<ul id="settings_continuousprint_tabs" class="nav nav-pills">
  <li class="active"><a href="#settings_continuousprint_profile" data-toggle="tab">Profile</a></li>
  <li><a href="#settings_continuousprint_events" data-toggle="tab">Events</a></li>
  <li><a href="#settings_continuousprint_scripts" data-toggle="tab">Scripts & Preprocessors</a></li>
  <li><a href="#settings_continuousprint_integrations" data-toggle="tab">Integrations</a></li>
  <li data-bind="visible: settings.settings.plugins.continuousprint.cp_network_queues_enabled">
    <a href="#settings_continuousprint_queues" data-toggle="tab">Queues</a>
  </li>
  <li><a href="#settings_continuousprint_behavior" data-toggle="tab">Behavior</a></li>
  <li><a href="#settings_continuousprint_help" data-toggle="tab">Help</a></li>
</ul>
<div class="tab-content">
  {% include 'plugin_continuousprint/settings/profile_tab.jinja2' %}
  {% include 'plugin_continuousprint/settings/events_tab.jinja2' %}
  {% include 'plugin_continuousprint/settings/scripts_tab.jinja2' %}
  {% include 'plugin_continuousprint/settings/integrations_tab.jinja2' %}
  {% include 'plugin_continuousprint/settings/queues_tab.jinja2' %}
  {% include 'plugin_continuousprint/settings/behavior_tab.jinja2' %}
  {% include 'plugin_continuousprint/settings/help_tab.jinja2' %}
</div>


<script type="text/html" id="queue-item-setting-template">
    <i class="fas fa-grip-vertical"></i>
    <div data-bind="text: JSON.stringify($data)"></div>
    <!-- <i data-bind="css: !expanded() ? 'fas fa-edit' : '', click: () => expanded(true)"></i>-->
</script>
