<div class="cp-header">
  <h3>Continuous Print Queue</h3>
  <div class="btn-group">
    <button class="btn" data-bind="click: function() {setActive(!active());}, css: {'btn-primary': !active(), 'btn-secondary': active()}">
      <i class="fa fa-play"></i>&nbsp;&nbsp;<span data-bind="text: active() ? 'Stop Managing' : 'Start Managing'"/>
    </button>
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fas fa-ellipsis-v"></i>
    </a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#" data-bind="click: clearCompleted">Clear completed jobs</a></li>
      <li><a tabindex="-1" href="#" data-bind="click: clearAll">Clear everything</a></li>
      <li><a tabindex="-1" href="#" data-bind="click: requeueFailures">Requeue failures</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#" data-bind="click: refreshQueue">Refresh</a></li>
      <li><a href="https://github.com/smartin015/continuousprint" target="_blank">Help</a></li>
    </ul>
  </div>
</div>

<span data-bind="visible:  active()"><i class="fa fa-spinner fa-spin" data-bind="visible: active()"></i></span>
<strong data-bind="text: status"></strong>
<hr/>

<div class="queue-header">
  <div style="flex:1">Job</div>
  <div style="width: 150px">Progress</div>
  <div class="repeats">Count</div>
  <div class="total">Total</div>
</div>

<!-- `cpsortable` is renamed from `sortable` - see https://github.com/smartin015/continuousprint/issues/14 -->
<div id="queue_list" class="accordion" data-bind="cpsortable: {foreach: jobs, options: {handle: '.fa-grip-lines-vertical', onStart: $root.sortStart, onEnd: $root.sortEnd, onMove: $root.sortMove}}, css: {'loading': $root.loading()}">
  <div class="accordion-group job">
    <div class="accordion-heading job-header">
      <div class="queue-row-container" data-bind="visible: queuesets().length > 0">
        <i class="fas fa-grip-lines-vertical"></i>
        <!-- _vkenabled fixes dynamic form bug on virtual keyboard: https://github.com/xontab/chrome-virtual-keyboard/issues/5 -->
        <input type="text" class="job-name" data-bind="textInput: name, event: { change: $root.setJobName }, attr: {'_vkenabled': false}, css: {'bold': $root.isActiveItem($index)()}" placeholder="Click here to name"></input>
        <div class="progress" data-bind="foreach: progress, css: { 'progress-striped active': $root.isActiveItem($index)() }">
          <div data-bind="style: { flex: pct, order: order }, css: {'active': result === 'started', 'bar': result !== 'pending', 'bar-success': result == 'success', 'bar-danger': result.startsWith('failure')}"></div>
        </div>
        <div class="repeats">
          <span data-bind="text: runs_completed() + ' /'">/</span>
          <!-- _vkenabled fixes dynamic form bug on virtual keyboard: https://github.com/xontab/chrome-virtual-keyboard/issues/5 -->
          <input class="fa fa-text count-box" type="number" data-bind="textInput: count, event: { change: $root.setCount }, attr: {'_vkenabled': false}"></input>
        </div>
        <div class="total" data-bind="text: items_completed() + '/' + length()"></div>
        <div class="accordion-heading-button pull-right" data-bind="click: $root.remove"><i style="cursor: pointer" class="far fa-trash-alt"></i></div>
      </div>
    </div>

    <div class="accordion-body collapse in">
      <div class="accordion-inner">
        <div id="queue_sets" data-bind="cpsortable: {foreach: queuesets, options: {handle: '.fa-grip-lines-vertical', onStart: $root.sortStart, onEnd: $root.sortEnd, onMove: $root.sortMove, group: 'queuesets'}}, css: {'empty': queuesets().length < 1}" class="queuesets accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
                <div class="queue-row-container">
                  <i class="fas fa-grip-lines-vertical"></i>
                  <p class="file-name" style="cursor:pointer" data-bind="click: () => $root.setSelected($parentContext.$index, $index), style: { 'font-weight': $root.isActiveItem($parentContext.$index, $index)() ? 'bold': null }">
                    <i class="fa" data-bind="css: $root.isSelected($parentContext.$index, $index)() ? 'fa-caret-down' : 'fa-caret-right'"></i>
                    <span class="materials" data-bind="visible: materials().length > 0, foreach: materials">
                      <span class="label" data-bind="attr: {title: title}, text: shortName, style: {'background-color': bgColor, 'color': color}"></span>
                    </span>
                    <span data-bind="text: name"/>
                  </p>
                  <div class="progress" data-bind="foreach: progress, css: { 'progress-striped active': $root.isActiveItem($parentContext.$index, $index)() }">
                    <div data-bind="style: { flex: pct, order: order }, css: {'bar': result !== 'pending', 'active': result === 'started', 'bar-success': result == 'success', 'bar-danger': result.startsWith('failure')}"></div>
                  </div>
                  <div class="repeats">
                    <!-- _vkenabled fixes dynamic form bug on virtual keyboard: https://github.com/xontab/chrome-virtual-keyboard/issues/5 -->
                    <input class="fa fa-text count-box" type="number" data-bind="textInput: count, event: { change: $root.setCount }, attr: {'_vkenabled': false}"></input>
                  </div>
                  <div class="total" data-bind="text: items_completed() + '/' + length()"></div>
                  <div class="accordion-heading-button" data-bind="click: $root.remove"><i style="cursor: pointer" class="far fa-trash-alt"></i></div>
                </div>

            </div>

            <div class="accordion-body collapse" data-bind="css: {'in': $root.isSelected($parentContext.$index, $index)()}">
              <div class="accordion-inner">
                <div class="queue-set-list">
                  <div>Materials:</div>
                  <div class="material_select" data-bind="foreach: new Array($root.extruders() || 0)">
                    <div>
                      <span data-bind="text: 'E' + $index() + ':'"></span>
                      <select data-bind="event: {change: (_, evt) => $root.setMaterial($parent, $index(), evt.target.value)}">
                        <option key=""></option>
                        <!-- ko foreach: $root.materials -->
                        <option data-bind="value: value, text: text"></option>
                        <!-- /ko -->
                      </select>
                    </div>
                  </div>

                  <table>
                    <thead>
                      <th>Name</th>
                      <th>SD</th>
                      <th>Status</th>
                      <th>Duration</th>
                      <th>Retries</th>
                    </thead>
                    <tbody data-bind="foreach: items">
                      <tr data-bind="style: { 'font-weight': $root.isActiveItem($parentContext.$parentContext.$index, $parentContext.$index, $index)() ? 'bold' : null }, css: { 'run-alt': (run() % 2) === 1}">
                        <td data-bind="text:name"/>
                        <td data-bind="text: (sd) ? 'Y' : 'N'"/>
                        <td data-bind="text:result, style: { color: result().startsWith('failure') ? 'red' : null }"/>
                        <td data-bind="text:duration"/>
                        <td data-bind="text:retries"/>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
