<script type="text/javascript">
  const CP_PRINTER_PROFILES = {{plugin_continuousprint_printer_profiles|tojson|safe}};
  const CP_GCODE_SCRIPTS = {{plugin_continuousprint_gcode_scripts|tojson|safe}};
  const CP_CUSTOM_EVENTS = {{plugin_continuousprint_custom_events|tojson|safe}};
  const CP_LOCAL_IP = {{plugin_continuousprint_local_ip|tojson|safe}};
  const CP_EXCEPTIONS = {{plugin_continuousprint_exceptions|tojson|safe}};
  const CP_SIMULATOR_DEFAULT_SYMTABLE = function() {return {{plugin_continuousprint_simulator_default_symtable|tojson|safe}}; };

  const CP_STATS_DIMENSIONS = {
    completed: {
      name: "completed",
      display: "Complete",
      desc: "Number of prints completed for this iteration of the job",
    },
    count: {
      name: "count",
      display: "Per Run",
      desc: "Number of prints per each iteration of the job",
    },
    remaining: {
      name: "remaining",
      display: "This Run",
      desc: "Number of prints yet to be printed for the current job iteration",
    },
    total: {
      name: "total",
      display: "Pending",
      desc: "Total number of prints yet to be printed across all remaining iterations of the job",
    },
  };
</script>
