<div id="settings_continuousprint_events" class="tab-pane">
  <form class="form-horizontal">
    <legend>Events</legend>
    <p>
      Register <a style="cursor:pointer" data-bind="click: ()=>$root.gotoTab('scripts')">Scripts &amp; Preprocessors</a> to execute on queue events.
    </p>
    <p>
      You can execute multiple scripts in sequence, dragging to change the execution order.
    </p>

    <div class="events" data-bind="foreach: events">
      <h4 data-bind="text: display"></h4>
      <p data-bind="text: desc"></p>

      <div data-bind="cpsortable: {foreach: actions, options: {handle: '.fa-grip-vertical', onStart: $root.sortStart, onEnd: $root.sortEnd}}">
        <div class="accordion-group header-row">
          <i class="fas fa-grip-vertical"></i>
          <div style="flex:1">
            <div>
            Script:
            <a style="cursor: pointer" data-bind="text: script.name, click: () => $root.gotoScript(script)"></a>
            </div>
            <div class="subheader" data-bind="text: script.preview"></div>
          </div>
          <label>
            Preprocessor<sup><a href="https://smartin015.github.io/continuousprint/gcode-scripting/#preprocessors" target="_blank">?</a></sup>:
            <select style="flex: 1" data-bind="
                value: preprocessor,
                options: $root.preprocessorSelectOptions,
                optionsText: 'name',
                optionsValue: 'value',
                event: {change: $root.actionPreprocessorChanged}
            ">
            </select>
          </label>
          <div style="width: 30px" data-bind="click: (v) => $root.rmAction($parent, v)"><i class="far fa-trash-alt"></i></div>
        </div>
      </div> <!-- foreach actions -->


      <span stye="height:0px; width:0px;" data-bind="text: updater">
        This hidden element needed for rendering simulation() results;
        see CPSettingsEvent class
      </span>
      <div class="accordion-group" data-bind="visible: actions().length > 0">
        <div class="accordion-heading" data-bind="click: simExpanded(!simExpanded())" style="cursor:pointer">
          <i class="fa" data-bind="css: simExpanded() ? 'fa-caret-down' : 'fa-caret-right'"></i>
          <div style="display:inline; margin-left: 5px" data-bind="text: simSummary"></div>
        </div>
        <div class="accordion-body collapse" data-bind="css: {'in': simExpanded}">
          <div class="accordion-inner">
            <div class="simulation-output">
              <div>
                <h5>GCODE</h5>
                <pre class="output-block" data-bind="text: simGcodeOutput"></pre>
              </div>
              <div>
                <h5>Notifications & Errors</h5>
                <pre class="output-block" data-bind="text: combinedSimOutput"></pre>
              </div>
            </div>
            <a style="text-align: center; display: block;" href="#" data-bind="click: symtableExpanded(!symtableExpanded())">toggle state details</a>
            <div data-bind="visible: symtableExpanded">
              <h5>Modified state</h5>
              <div class="hint" data-bind="visible: simSymtable().length > 0">
                Hint: these variables were modified by preprocessors during the simulation.
              </div>
              <div data-bind="visible: simSymtable().length === 0">None</div>
              <div data-bind="foreach: simSymtable">
                <div><span data-bind="text: key"></span> = <span data-bind="text: value"></span></div>
              </div>
              <h5>Simulation initial state</h5>
              <div class="hint">
                Hint: edit to simulate behavior with different states of the printer, file etc. - this has no effect when the event is fired for real.
              </div>
              <div class="alert alert-error" data-bind="visible: symtableEditError, text: symtableEditError"></div>
              <textarea style="width:100%; min-height: 50vh" data-bind="value: symtableEdit"></textarea>
            </div>
          </div>  <!-- /accordion-inner -->
        </div> <!-- /accordion-body -->
      </div> <!-- /accordion-group -->

      <div class="dropdown pull-right" style="width: 120px">
        <a class="btn dropdown-toggle" data-toggle="dropdown">
          Add script
          <i style="cursor: pointer" class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <!-- ko foreach: $root.scripts -->
            <li data-bind="visible: $parent.actions.indexOf(name()) === -1"><a tabindex="-1" data-bind="text: name, click: (v) => $root.addAction($parent, v)"></a></li>
          <!-- /ko -->
          <li><a data-bind="click: () => $root.addAction($data, null)">New Script...</a></li>
        </ul>
      </div>
    </div> <!-- foreach events -->
  </form>
</div> <!-- settings_continuousprint_events -->
