<div class="tab-pane" id="settings_continuousprint_help">
  <form class="form-horizontal">
    <legend>Help</legend>
    <p><strong>If you need help installing, configuring, or using Continuous Print, start by looking through the extensive <a target="_blank" href="https://smartin015.github.io/continuousprint/">documentation</a>.</strong></p>

    <legend>Report an issue</legend>
    <p>
      If you encounter errors or unexpected behavior, go to the <a target="_blank" href="https://github.com/smartin015/continuousprint/issues">GitHub issues page</a> and see if there's a similar open issue to the problem you're having.
    </p>
    <p>
      If you can't find any, <a target="_blank" href="https://github.com/smartin015/continuousprint/issues/new?assignees=&labels=bug&template=bug_report.md&title=">report a new issue</a> and <strong>make sure to include a sysinfo bundle</strong> as described in the issue text box.
    </p>

    <legend>Features and Feedback</legend>
    <p>
      Feature requests are also reported via GitHub - click <a target="_blank" href="https://github.com/smartin015/continuousprint/issues/new?assignees=&labels=&template=feature_request.md&title=">here</a> to start a new feature request.
    </p>

    <p>If you're looking to give feedback without any features in mind - for instance, if you found a useful way to use CPQ and want to share - try starting a <a target="_blank" href="https://github.com/smartin015/continuousprint/discussions">Discussion</a>.
    </p>

    <legend>Donations and Support</legend>
    <p>
      I'm a solo developer maintaining all of Continuous Print.
    </p>
    <p>
      Please help caffienate me so I can continue to fix bugs and release awesome new features!
    </p>
    <a href='https://ko-fi.com/I2I7AA4DY' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi2.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
    or
    <a class="btn btn-secondary" target="_blank" href="https://www.patreon.com/bePatron?u=13297819">Become a Patron</a>

  </form>
</div>
