<div id="settings_continuousprint_profile" class="tab-pane active">
  <form class="form-horizontal">
    <legend>Printer Profile</legend>
    <p>If you tag queue items with <a href="https://smartin015.github.io/continuousprint/printer-profiles/">profiles</a>, they will be skipped unless they match this profile.</p>
    <fieldset>
      <div class="control-group" title="The manufacturer of the printer">
        <label class="control-label">Manufacturer</label>
        <div class="controls">
          <select data-bind="foreach: printer_makes, value:selected_make">
            <option data-bind="text: $data"/>
          </select>
        </div>
      </div>
      <div class="control-group" title="The model of the printer">
        <label class="control-label">Model</label>
        <div class="controls">
          <select data-bind="foreach: printer_models, value: selected_model, event:{ change: modelChanged }">
            <option data-bind="text: $data"/>
          </select>
        </div>
      </div>
    </fieldset>

    After setting a profile, try loading community-contributed scripts on the <a style="cursor:pointer" data-bind="click: ()=>$root.gotoTab('scripts')">Scripts &amp; Preprocessors</a> section.
  </form>
</div> <!-- settings_continuousprint_profile -->
