<div id="settings_continuousprint_queues" class="tab-pane">
  <legend>Queues</legend>

  <p>Drag to reorder queues, or click the arrows to expand and configure them.</p>
  <p>Your printer will attempt to print all printable jobs in the top queue, then the next one down, etc.</p>
  <div class="queue-header">
    <div>Network</div>
    <div style="flex: 1" class="has_title" title="TODO">Strategy<sup>?</sup></div>
    <div style="flex: 1" class="has_title" title="TODO">Enabled<sup>?</sup></div>
  </div>
  <div data-bind="cpsortable: {foreach: queues.queues, as: 'queue', options: {handle: '.fa-grip-vertical', onStart: $root.sortStart, onEnd: $root.sortEnd}}">
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="queue-row-container">
          <i class="fas fa-grip-vertical"></i>
          <p class="row-name" data-bind="text:name"></p>
          <div>
            <select data-bind="value: strategy">
              <option>In-Order</option>
            </select>
          </div>
          <div>
            <input type="checkbox" data-bind="checked: enabled, enable: name !== 'local'">
          </div>
        </div> <!-- queue-row-container -->
      </div> <!-- accordion-heading -->
    </div> <!-- accordion-group -->
  </div> <!-- queues sortable -->

</div> <!-- settings_continuousprint_queues -->
