
<div class="alert alert-error" data-bind="visible: CP_EXCEPTIONS.length > 0">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>
    <i class="fas fa-exclamation-triangle"></i> Encountered the following exceptions:
  </p>
  <ul data-bind="foreach: CP_EXCEPTIONS">
    <li data-bind="text: $data"></li>
  </ul>
  <p>
    Please <a target="_blank" href="https://github.com/smartin015/continuousprint/issues/new/choose">file a bug report</a> - be sure to follow the template instructions to generate a sysinfo bundle.
  </p>
</div>

<div class="alert alert-warning" data-bind="visible: badMaterialCount">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <i class="fas fa-exclamation-triangle"></i> <span data-bind="text: badMaterialCount"></span> spool(s) configured without a material.
  <br/>These will be excluded from material selection until you configure them (in the Spools tab) and reload.
</div>

<div class="alert alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <i class="fas fa-exclamation-triangle"></i> Unable to connect to a PeerPrint server. See <a href="#todo">Troubleshooting Steps</a> for details.
</div>

<div class="hint" style="text-align: center" data-bind="visible: hasDraftJob">
  Hint: draft jobs will not be scheduled for printing until they are saved.
</div>
